.webpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    gap: 274px;
    padding: 0px 705px;
    position: relative;
    background-color: #ffffff;
}

.webpage .page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 387px 0px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.webpage .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.webpage .collect-data-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 49px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0px 4px 12.7px #00000040;
}

.webpage .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
